{% extends 'base.html' %}
{% load static %} 
{% load crispy_forms_tags %}

{% block content %}


<center class="mt-5">
        <h2> Entrepreneur List </h2>
</center>


<div class="container">

{% if pr %}


{% for i in pr %}



{% if i.userprofileinfo.user_type == 'enterpreneur' %}

<h1 class="animated animated-text">
                            <span class="mr-2"> <i class='uil uil-user'></i> I'm</span><a  href="{% url 'profile' i.username %}">{{ i.username}}</a>
                                <div class="animated-info">
                                    <span class="animated-item">[{{ i.userprofileinfo.user_type }}] </span>
                                </div>
                                <br>
</h1>
                            
{% else %}


{% endif %}

{% endfor %}

{% else %}

</h2> No list <h2>
{% endif %}





</div>


{% endblock content %}