
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TRADEBUILDER</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/unicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="{% static 'css/tooplate-style.css' %}">
    
<!--

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

-->
  </head>
  <body>

    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light mt-3">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"> TRADEBUILDER </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto my-auto">


                
               

               

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><button class="btn custom-btn custom-btn-bg custom-btn-link" type="button">Users</button></a>
                      <div class="dropdown-menu">
                        <a href="{% url 'inv' %}" class="dropdown-item">Investors</a>
                        <a href="{% url 'ent' %}" class="dropdown-item">Entrepreneurs</a>
                      </div>

                  </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><button class="btn custom-btn custom-btn-bg custom-btn-link" type="button">Idea</button></a>
                      <div class="dropdown-menu">
                      
                        <a href="{% url 'idea_list' slug='buy'  %}" class="dropdown-item">Buy</a>
                        <a href="{% url 'idea_list' slug='negotiate' %}" class="dropdown-item">Negotiate</a>
             
                      </div>
                  </li>

                
                    <li class="nav-item">
                        <a href="{% url 'news' %}" > <button class= "btn custom-btn custom-btn-bg custom-btn-link" type="button"> Notice </button></a>
                    </li>

                   
                </ul>

                 <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                      <div class="color-mode d-lg-flex justify-content-center align-items-center">
                        <i class="color-mode-icon"></i>
                        Color mode
                      </div>
                    </div>
                </ul>

                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                      <div class=" d-lg-flex justify-content-center align-items-center">
                        

                               <!--<ul class="nav nav-pills justify-content-end">-->
                {% if user.is_authenticated %}

                    <li class="nav-item">
                                  <a class="nav-link" href="{% url 'signout' %}"><button class="btn custom-btn custom-btn-bg custom-btn-link" type="button">Logout</button></a>
                    </li>

                     <li class="nav-item">
                        <a href="{% url 'profile' user.username %}" class="nav-link"><span data-hover="Profile"> <i class='uil uil-user'></i>Account</span></a>
                    </li>

             
              


                {% else %}
              
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}"><button class="btn custom-btn custom-btn-bg custom-btn-link" type="button">registration</button></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signin' %}"><button class="btn custom-btn custom-btn-bg custom-btn-link" type="button">Log in</button></a>
                        </li>
                        
                {% endif %}






                      </div>
                    </div>
                </ul>

          <form class="form-inline ml-2 mt-2" action="{% url 'searchbar' %}" method="get">
     
                <input class="form-control" type="text" name="search" placeholder="Search">
                <button type="submit" class="btn "></button>
                
          </form>

      
                
            </div>
        </div>
    </nav>

    <!-- ABOUT -->
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                    <div class="about-text">
                        <h1 class="animated animated-text">
                            <span class="mr-2">WE ARE TRADEBUILDERS</span>
                                <div class="animated-info">
                                    <span class="animated-item">WELCOME</span>
                                    
                                </div>
                        </h1>

                        <p>Building a successful project is a challenge. So, grow together with Us. Build networks,communicate with the Business Leaders. Sell, Share and Buy Ideas !! </p>
                        
                        <div class="custom-btn-group mt-4">
                          <a href="{% url 'idea_list' slug='buy'  %}" class="btn mr-lg-2 custom-btn"><i class='uil uil-file-alt'></i>Buy Ideas</a>
                          <a href="{% url 'news' %}" class="btn custom-btn custom-btn-bg custom-btn-link">Post Event Notice!</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12">
                    <div class="about-image svg">
                        <img src="{% static 'image/project/5.jpg' %}" class="img-fluid" alt="svg image">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- PROJECTS -->
    <section class="project py-5" id="project">
        <div class="container">
                
                <div class="row">
                  <div class="col-lg-11 text-center mx-auto col-12">

                      <div class="col-lg-8 mx-auto">
                        <h2> Invest In Various Ideas</h2>
                      </div>

                      <div class="owl-carousel owl-theme">
                        <div class="item">
                          <div class="project-info">
                          <img src="{% static 'image/project/6685.jpg' %}" class="img-fluid" alt="project image">
                          
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="{% static 'image/project/13.jpg' %}" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <img src="{% static 'image/project/9812.jpg' %}" class="img-fluid" alt="project image">
                          </div>
                        </div>

                        
                      </div>

                  </div>
                </div>
        </div>
    </section>

   

    <!-- FOOTER -->
     <footer class="footer py-5">
          <div class="container">
               <div class="row">

                    <div class="col-lg-12 col-12">                                
                        <p class="copyright-text text-center">Copyright @ 2021 TRADEBUILDER . All rights reserved</p>
                       
                    </div>
                    
               </div>
          </div>
     </footer>

    <script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
    <script src="{% static 'js/popper.min.js' %} "></script>
    <script src="{% static 'js/bootstrap.min.js' %} "></script>
    <script src="{% static 'js/Headroom.js' %} "></script>
    <script src="{% static 'js/jQuery.headroom.js' %} "></script>
    <script src="{% static 'js/owl.carousel.min.js' %} "></script>
    <script src="{% static 'js/smoothscroll.js' %} "></script>
    <script src="{% static 'js/custom.js' %} "></script>

  </body>
</html>